{% extends "base.html" %}

{% block title %}
  Delete Todo
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h3 class="text-center mb-4">Delete Todo</h3>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="alert alert-warning" role="alert">
                            {{tag}}
                        </div>
                        
                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-danger">Delete</button>
                            <a href="{% url 'home' %}" class="btn btn-outline-primary">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
